.cc{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.cc .container{
 position: absolute;
 top:40%;
 left:50%;
 transform: translate(-50%, -50%);
 text-align: center;
}
